.checkbox-component input[type="checkbox"]{
    width: 100px;
    height: 50px;

    position: relative;
    -webkit-appearance: none;
    background-color: #C8C8C8;
    border-radius: 50px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1) inset;
}

.checkbox-component input:checked[type="checkbox"]{
    background-color: #7EC2E8;
}


.checkbox-component input[type="checkbox"]::before{
    content: '';
    width: 50px;
    height: 50px;

    position: absolute;
    top: 0;
    left: 0;

    background-color: #E4E4E4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transform: scale(1.2);
    transition: 0.3s;
    cursor: pointer;
}


.checkbox-component input:checked[type="checkbox"]::before{
    left: 50px;
    background-color: #4BA3D4;
}
